@font-face {
    font-family: noel;
    src: url("../font/santa_regular.ttf");
}

body{
    margin: 0 auto;
    color: white;
    font-family: noel, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #c70000 url('../../images/bg.jpg') top center;
    overflow-x: hidden;
}
#header{
    width: 100%;
    min-height: 140px;
    background: url('../../images/header_bg.png') repeat-x top left;
    z-index: 50;
}
.fixed_header{
    position: fixed;
}

#content{
    top: 150px;
    position: absolute;
    background: url('../../images/initial_sf.png');
    width: 100%;
    height: 100%;
    z-index: 20;
}
#countdown_box{
    font-size: 40px;
    width: 100%;
    height: auto;
    text-align: center;
}
#countdown_box .row{
    display: inline-block;
    text-align: center;
}
#countdown_box img{
    float: left;
    vertical-align: middle;
}
#countdown_box span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
}
#left_content{
    position: relative;
    margin-top: 40px;
    float: left;
    height: 800px;
    width: 59%;
}
#right_content{
    float: right;
    height: 800px;
    width: 40%;
}
#music_box{
    width: 85%;
    margin-left: 3%;
    height: 550px;
    background: black;
    opacity: 0.7;
}

#chrismas_tree{
    width: 100%;
    height: 88%;
    background: url('../../images/caythong_small.png')  repeat-y !important;
}

#star_large{
    display: block;
    width: 235px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
}
#star_large img{
    margin-left: 22px;
}

#large_chrismas_tree{
    clear: both;
    width: 100%;
    height: 1600px;
    margin-bottom: -330px;
    background: url('../../images/ct_large.png') center no-repeat !important;
}

#gift_footer{
    text-align: center;
    width: 100%;
    height: 250px;
    line-height: 405px;
    background: url('../../images/gifts.png') center no-repeat !important;
}
#gift_footer .xmas{
    color: black;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 24px;
    width: 100px;
    height: 50px;
    margin-left: 170px;
}



/* Dang css, if you want to modify, please contact me. Thanks */

#larger_chrismas_tree{
    position: relative;
}

.wrapper_list{
    position: absolute;
    left: 50%;
    height: auto;
}

#list_celebrating{
    position: absolute;
    top: 90px;
    left: -581px;
    width: 1083px;
    height: 1080px;
}

 ul#list_celebrating  li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

#list_celebrating .candy{
    position: absolute;
    width: 40px;
    height: 87px;
    background: url("../../images/sprite_candycane.png") top left no-repeat;

}


#list_celebrating .candyRB{
    background-position: bottom right;
}

#list_celebrating #candycane01{
    left: 644px;
}


#list_celebrating #candycane02{
    left: 438px;
    top: 168px;
}

#list_celebrating #candycane03{
    left: 583px;
    top: 373px;
}

#list_celebrating #candycane04{
    left: 670px;
    top: 603px;
}
#list_celebrating #candycane05{
    left: 259px;
    top: 669px;
}
#list_celebrating #candycane06{
    left: 798px;
    top: 778px;
}
#list_celebrating #candycane07{
    left: 438px;
    top: 168px;
}

#list_celebrating .stocking_type01{
    background: url("../../images/stocking1.png") top left no-repeat;
    height: 92px;
    width: 60px;
    background-size: contain;
    position: absolute;
}

#list_celebrating .stocking_type02{
    background: url("../../images/stocking2.png") top left no-repeat;
    height: 92px;
    width: 60px;
    background-size: contain;
    position: absolute;
}


#list_celebrating .stocking_type03{
    background: url("../../images/stocking3.png") top left no-repeat;
    height: 92px;
    width: 60px;
    background-size: contain;
    position: absolute;
}

#list_celebrating .stocking_type04{
    background: url("../../images/stocking4.png") top left no-repeat;
    height: 92px;
    width: 60px;
    background-size: contain;
    position: absolute;
}

#list_celebrating #stocking01{
    top: 3px;
    left: 501px;
}

#list_celebrating #stocking02{
    top: 92px;
    left: 707px;
}

#list_celebrating #stocking03{
    top: 333px;
    left: 805px;
}

#list_celebrating #stocking04{
    top: 449px;
    left: 282px;
}

#list_celebrating #stocking05{
    top: 663px;
    left: 940px;

}


#list_celebrating #stocking06{
    top: 888px;
    left: 207px;
}


#list_celebrating #stocking07{
    top: 836px;
    left: 378px;
}

#list_celebrating .rotate-25{
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}


#list_celebrating .rotate30{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#list_celebrating .rotate-30{
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#list_celebrating #gbm1{
    background: url("../../images/sprite_mix.png") top left no-repeat;
    position: absolute;
     top: 200px;
    left: 574px;
    width: 70px;
    height: 90px;
}

#list_celebrating #gbm2{
    background: url("../../images/sprite_mix.png") top left no-repeat;
    position: absolute;
     top: 768px;
    left: 574px;
    width: 70px;
    height: 90px;
}

#list_celebrating #gbm3{
    background: url("../../images/sprite_mix.png") top left no-repeat;
    position: absolute;
    top: 463px;
    left: 388px;
    width: 70px;
    height: 90px;
}

#list_celebrating .bell{
    background: url("../../images/sprite_mix.png") bottom right no-repeat;
    width: 40px;
    height: 50px;
    position: absolute;
}

#list_celebrating #bell1{
    top: 132px;
    left: 602px;
}

#list_celebrating #bell2{
    top: 132px;
    left: 579px;
}

#list_celebrating #bell3{
     top: 466px;
    left: 747px;
}

#list_celebrating #bell4{
    top: 466px;
    left: 723px;
}

#list_celebrating #bell5{
    top: 726px;
    left: 491px;
}
#list_celebrating #bell6{
    top: 726px;
    left: 469px;
}
.loading{
    height: 64px;
    background: url("../../images/loading.gif") center center no-repeat !important;
}
/*.fancybox-skin .loading {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 66px !important;
}*/

.fancybox-skin {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background:transparent !important;

}

.popup_result{
    font-size: 22px;
    font-family: Arial;
    text-align: center;
}

#content_popup{
    background: url("../../images/frame.png") no-repeat !important;
    background-size: cover !important;
    background-color: #fff;
    width : 800px;
    height: 605px;
}
#content_popup #main_content{
    background: #fff;
    display: inherit;
    height: 487px;
    width: 499px;
    margin: 0 auto;
    padding: 142px 0 0 0;
    z-index: -6;
    position: absolute;
    left: 144px;
    top: 38px;
}